body {
  text-align: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px repeat(3, 1fr);
  grid-template-areas:
    "header header header header"
    "navbar main-section1 main-section1 main-section1"
    "navbar main-section2 main-section3 main-section4"
    "navbar footer footer footer";
}

header {
  background-color: aqua;
  grid-area: header;
  padding: 20px;
}

nav {
  background-color: coral;
  grid-area: navbar;
  padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

li a {
    color: black;
}

main {
  background-color: darkgray;
  grid-area: main-section1;
  padding: 20px;
}

.main-section2 {
  background-color: darkorange;
  grid-area: main-section2;
  padding: 20px;
}

.main-section3 {
  background-color: red;
  grid-area: main-section3;
  padding: 20px;
}

.main-section4 {
  background-color: yellow;
  grid-area: main-section4;
  padding: 20px;
}

footer {
  background-color: black;
  grid-area: footer;
  padding: 20px;
}
