* {
  font-family: Roboto, sans-serif;
}

.layout {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: auto;
}

.container {
  position: fixed;
  display: flex;
  grid-area: 1 / 1 / 2 / 6;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #ffffff;
}

.item01 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 20px;
  gap: 20px;
}

#youtube-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.item03 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.item04 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-right: 40px;
}

input {
  display: inline-flex;
  width: 404px;
  height: 40px;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#button_search {
  background-image: url("../CSSFlexbox/assets/Imagens/search.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 57px;
  height: 40px;
  border: 1px solid #cccccc;
}

.div2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-area: 2 / 1 / 6 / 2;
  grid-column: auto;
  gap: 20px;
  margin-left: 15px;
  margin-top: -10px;
  padding: -10%;
  width: 10px;
  height: 10px;
}

.div2 button {
  justify-self: start;
  background-color: white;
  border: none;
  cursor: pointer;
  width: 10px;
  height: 25px;
  padding: 5px;
}

.div2 button:hover {
  background-color: none;
}

.div3 {
  padding: 20px;
  grid-area: 2 / 2 / 6 / 6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  background: #f9f9f9;
  margin-top: -50px;
  margin-bottom: -123px;
}
